/*GENERAL*/

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button,
input,
input:active,
input:focus,
button:active,
button:focus {
  outline: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*HEADER*/

.header__topline-column a:after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;

  background-color: #34547a;
  opacity: 0;

  transition: opacity 0.2s linear;
}

.header__topline-column a:hover {
  color: #34547a;
}

.header__topline-column a:hover:after {
  opacity: 1;
}

.header__icon:hover {
  background-color: #46c3d2;
  opacity: 0.5;
}

/*SIDEBAR*/

/*Спрсоить за Hover*/
/*.category__item a:hover {
  color: #34547a;
}*/

/*Спросить за hover*/
/*.book__item:hover {
  background-color: #46c3d2;
  opacity: 0.5;
}
*/
